// Фоны
$bg-color-main: #F8F8F8;
$bg-color-section-header: #fff;
$bg-color-active-btn: #fff;

// Элементы декорации
$separator: #EAEAEA;
$border-section: #D9FFF5;
$border-service-active: #B8FFEC;
$headline-decoration: #41F6D7;

// Шрифты
$fonts-regular: "TT Lakes-Regular";
$fonts-medium: 'TT Lakes-Medium';
$fonts-demibold: 'TT Lakes-DemiBold';
$fonts-bold: 'TT Lakes-Bold';

// Цвет шрифтов
$fonts-service-list: #7E7E82;