.brands {
	&__list-item {
		height: 72px;
		align-items: center;
		justify-content: space-between;
		flex-grow: 1;

		&::before {
			right: 32px;
			top: 44%;
		}

		&::after {
			right: 0;
			top: 50%;
		}
	}
}
