html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	font-size: 14px;
	color: $fonts-main;
	text-decoration: none;
}

a {
	color: inherit;
	text-decoration: none;
}

.background {
	background-color: $bg-color-main;
}
