.sidebar {
	display: flex;
	position: fixed;
	top: 0;
	left: -100%;
	flex-direction: column;
	justify-content: space-between;
	gap: 8px;
	width: 320px;
	height: 100vh;
	z-index: 1;
	transition: 0.5s;

	&_active {
		width: 100%;
		left: 0;
		transform: translate();
	}

	@media (min-width: $screen-md) {
		gap: 18px;
	}

	@media (min-width: $screen-lg) {
		position: sticky;
	}
}
