.wide-btn {
	position: relative;
	display: flex;
	align-items: center;
	padding-left: 14px;
	width: 120px;
	height: 32px;
	background-color: $bg-color-btns;
	border-radius: 16px;
	cursor: pointer;
	transition: 0.6s;

	&:not(.terms__order) {
		align-self: flex-end;
	}

	&.terms__order {
		position: absolute;
		right: 16px;
		bottom: 16px;
	}

	&:hover {
		background-color: $fonts-main;
		opacity: 0.85;
	}

	&:after {
		content: "";
		position: absolute;
		top: 12px;
		right: 12px;
		width: 7px;
		height: 7px;
		border-right: 2px solid $fonts-on-button;
		border-bottom: 2px solid $fonts-on-button;
		transform: rotate(-45deg) translate(-50%, -50%);
	}

	&__text {
		@include fonts($fonts-demibold, 0.85em, 2em, -0.15px);
		color: $bg-color-active-btn;
		text-transform: uppercase;
	}
}

.wide-btn,
.icon {
	&:focus {
		outline: 2px solid $fonts-main;
		outline-offset: 2px;
		transition: 0.1s;
	}
}

.round-btn {
	display: flex;
	position: relative;
	width: 40px;
	height: 40px;
	background-color: transparent;
	border: 2px solid $bg-color-btns;
	border-radius: 50%;
	cursor: pointer;

	&:not(.terms) {
		align-self: flex-end;
	}

	&:not(.terms):before {
		content: "";
		position: absolute;
		top: 50%;
		left: 50%;
		width: 8px;
		height: 8px;
		border-right: 2px solid $bg-color-btns;
		border-bottom: 2px solid $bg-color-btns;
		transform: translate(-65%, -50%) rotate(-45deg);
	}
}
