.corner-list {
	@media (min-width: $screen-sm) {
		position: relative;

		&::after {
			position: absolute;
			content: "";
			left: -21px;
			top: 50%;
			transform: translate(-50%, -50%);
			height: 32px;
			width: 2px;
			background-color: $separator;

			@media (min-width: $screen-lg) {
				display: none;
			}
		}
	}
}
