.headline {
	position: relative;

	&:not(.item__phone):before {
		position: absolute;
		content: "";
		left: -14px;
		top: 50%;
		transform: translate(-50%, -50%);
		height: 40px;
		width: 4px;
		border-radius: 0px 10px 10px 0px;
		background-color: $headline-decoration;
	}

	&.header__title:before {
		left: 2px;
	}
}
