.logo {
	display: block;
	position: relative;
	width: 98px;
	height: 52px;
	background: no-repeat url("~/img/logo.svg");
}

.icon {
	display: block;
	width: 40px;
	height: 40px;
	background: no-repeat $bg-color-btns url("~/img/icons.png");
	border-radius: 50%;
	transition: 0.6s;

	&:hover {
		background-color: $fonts-main;
		opacity: 0.85;
	}
}

.icon-list {
	background-position: -10px -10px;
}

.icon-call {
	background-position: -70px -10px;
}

.icon-chat {
	background-position: -10px -70px;
}

.icon-profile {
	background-position: -70px -70px;
}

.icon-repair {
	background-position: -130px -10px;
}

.icon-status {
	background-position: -130px -70px;
}

.icon-search {
	background-position: -10px -130px;
}

.icon-close {
	background-position: -70px -130px;
}

.handling__icon {
	content: "";
	position: absolute;
	top: 50%;
	width: 128px;
	height: 128px;
	align-self: flex-end;
}

.icon-laptop {
	background: url("~/img/maintenance_works.png") 0 -128px;
	transform: translate(0, -25%) scale(0.5);
}

.icon-tablet {
	background: url("~/img/maintenance_works.png") -128px 0;
	transform: translate(0, -25%) scale(0.5);
}

.icon-pc {
	background: url("~/img/maintenance_works.png") -128px -128px;
	transform: translate(0, -25%) scale(0.5);
}

.icon-monitor {
	background: url("~/img/maintenance_works.png") -256px 0;
	transform: translate(0, -25%) scale(0.5);
}

.icon-phone {
	background: url("~/img/maintenance_works.png") 0 0;
	transform: translate(0, -25%) scale(0.5);
}

.icon-tv {
	background: url("~/img/maintenance_works.png") -256px -128px;
	transform: translate(0, -25%) scale(0.5);
}

.icon-printer {
	background: url("~/img/maintenance_works.png") 0 -256px;
	transform: translate(0, -25%) scale(0.5);
}

.icon-scanner {
	background: url("~/img/maintenance_works.png") -128px -256px;
	transform: translate(0, -25%) scale(0.5);
}

.icon-сopymachine {
	background: url("~/img/maintenance_works.png") -256px -256px;
	transform: translate(0, -25%) scale(0.5);
}
