.item-list {
	display: flex;
	position: relative;
	padding: 16px;
	background-color: $bg-color-active-btn;
	border: 1px solid $separator;
	border-radius: 6px;
	cursor: pointer;

	&:not(.terms) {
		flex: 1 0 240px;

		@media (min-width: $screen-md) {
			flex: 1 0 224px;
		}

		@media (min-width: $screen-lg) {
		}

		&:hover {
			border: 1px solid $swiper-bullet-active;
			box-shadow: inset 0 0 1px 1px $swiper-bullet-active;

			&:before {
				border-right: 2px solid $swiper-bullet-active;
				border-bottom: 2px solid $swiper-bullet-active;
			}

			&:after {
				border: 2px solid $swiper-bullet-active;
				opacity: 0.85;
			}
		}
	}

	&:not(.terms):before {
		content: "";
		position: absolute;
		width: 8px;
		height: 8px;
		border-right: 2px solid $bg-color-btns;
		border-bottom: 2px solid $bg-color-btns;
		transform: rotate(-45deg) translate(-50%, -50%);
	}

	&:not(.terms):after {
		content: "";
		position: absolute;
		transform: translate(-50%, -50%);
		width: 40px;
		height: 40px;
		background-color: transparent;
		border: 2px solid $bg-color-btns;
		border-radius: 50%;
	}
}
