// Фоны
$bg-color-main: #f8f8f8;
$bg-color-section-header: #fff;
$bg-color-active-btn: #fff;
$bg-color-btns: #ff3e79;

// Элементы декорации
$separator: #eaeaea;
$border-section: #d9fff5;
$border-service-active: #b8ffec;
$headline-decoration: #41f6d7;
$swiper-bullet-active: #b5b6bc;
$swiper-bullet: #bbb;

// Шрифты
$fonts-medium: "TT Lakes-Medium";
$fonts-demibold: "TT Lakes-DemiBold";
$fonts-bold: "TT Lakes-Bold";

// Цвет шрифтов
$fonts-main: #1b1c21;
$fonts-alt: #7e7e82;
$fonts-on-button: #fff;

// Размеры экрана
$screen-xs: 320px;
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 1120px;
$screen-xl: 1440px;

// Модальные окна
$modal-window-outer-frame: #0e1850;
$modal-window-outer-frame-xs: rgba(14, 24, 80, 0.2);
$modal-window-background: rgba(255, 255, 255, 0.95);
